@model NewFichesMetiers.Models.ficheView

@{
    ViewBag.Title = "Modification de la fiche";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #OK, #OKCat:hover {
        cursor: pointer;
    }
</style> 

<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        setup: function (editor) {
            editor.on('change', function () {
                tinymce.triggerSave();
            });
        },
        menu : {
            tools  : {title : 'Tools' , items : 'spellchecker code'}
        },
        theme: "modern",
        plugins: [
            "code fullscreen",
        ],
    });
</script>


<h2>@ViewBag.Title "@Html.Raw(Model.nom)" - id @Html.Raw(Model.id)</h2>
<br />
    <div id="texteRetour">
    </div>

@using (Html.BeginForm("Index", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>fiche</legend>

        <section class="editor-label">
            Publier
            @if (@ViewData["publier"].ToString() == "True")
            {
                <input id='chk-@ViewData["fiche"]' type="checkbox" checked="checked">
            }
            else
            {
                <input id='chk-@ViewData["fiche"]' type="checkbox">
            }
        </section>
        <section>
            <span class="editor-label">
                Nom
            </span>
            <span class="divNom" id="divNom-@Model.id" contenteditable="true" style="width: 700px; background-color: #FFFFFF; ">@Model.nom</span>
        </section>
        <section>
            <span class="editor-label">
                Description
            </span>
            <span class="editor-field" id="div-@Model.id" contenteditable="true" style="display: none; width: 500px; height: 400px; overflow-y: scroll; background-color: #FFFFFF; "><span>@Html.Raw(Model.texte)</span></span>
            <textarea class="textarea" id="textarea-@Model.id" cols="100" rows="15">@Html.Raw(Model.texte)</textarea>
        </section>

        <section>
            <span class="editor-label">
                Liste des écoles
            </span>
            <span class="listeEcole">
                <ul>
                    @foreach (var ecole in Model.ecoles)
                    {
                        <li>
                            @Html.Raw(ecole.nom) @Html.ActionLink(
                            "Supprimer"
                            , "Supprimer"
                            , new { idFiche = Model.id, idEcole = ecole.id }
                            , new { onclick = "supprimerEcoleFiche(" + Model.id + "," + ecole.id + "); return false;" }
                            )
                        </li>
                    }
                </ul>
            </span>
            <span id="test">

            </span>
            <a href='javascript:getView();'> + Ajouter une école</a>
            <script type="text/javascript">
                function getView() {
                    $('#ajoutEcole').load("@Url.Action("GetView", "PartialView", new { idFiche = Model.id })");
                }
            </script>
            <span id="ajoutEcole">

            </span>
        </section>
        <br />
        <section>
            <span class="editor-label">
                Liste des catégories
            </span>
                <ul>
                    @foreach (var categorie in Model.categories)
                    {
                        <li>
                            @Html.Raw(categorie.nom) @Html.ActionLink(
                            "Supprimer"
                            , "SupprimerCat"
                            , new { idFiche = Model.id, idEcole = categorie.id }
                            , new { onclick = "supprimerCatFiche(" + Model.id + "," + categorie.id + "); return false;" }
                        )
                        </li>
                    }
                </ul>
            <a href='javascript:getViewCat();'> + Ajouter une catégorie</a>
            <script type="text/javascript">
                function getViewCat() {
                    $('#ajoutCategorie').load("@Url.Action("GetViewCat", "PartialView", new { idFiche = Model.id })");
                }
            </script>
            <span id="ajoutCategorie">
            </span>
        </section>
        <br /><br />
        <section>
            <button class="boutonSaveModif" id='buttonSave-@ViewData["fiche"]' style=" width: 200px;">Enregistrer la fiche</button>
        </section></fieldset>
}
</br>
<section>
    @Html.ActionLink("Retour à la liste", "Index")
</section>

<script>
    var ficheGlobale = @ViewData["fiche"];
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/functionModifier")
    @Scripts.Render("~/saveJS")
}

