@model NewFichesMetiers.Models.fiche

@{
    ViewBag.Title = "Editer";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>fiche</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nom)
            @Html.ValidationMessageFor(model => model.nom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.texte)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.texte)
            @Html.ValidationMessageFor(model => model.texte)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.publier)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.publier)
            @Html.ValidationMessageFor(model => model.publier)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
